<script src="https://3Dmol.org/build/3Dmol-min.js"></script>
<div id="container-01" class="mol-container"></div>
<style>
.mol-container {
  width: 95%;
  height: 800px;
  position: relative;
}
</style>

<script>
  /* Currently this just stores the entire pdb_file
  and the score_vector as explicit strings in the html.
  I know there are more elegant ways to do this.
  */
  let pdb_file = `
{{pdb_file}}
`;
  const score_vector = {{score_vector}};

  /* we really should grab this from the viewer
     but I can't immediately figure out how to do
     that so we'll include it as part of the template
     for now */
</script>
<script>
  var colgrad = new $3Dmol.CustomLinear(0,200, ['blue','cyan','white','orange','red'])
  let element = document.querySelector('#container-01');
  let config = { backgroundColor: 'white' };
  let viewer = $3Dmol.createViewer( element, config );

  viewer.addModel(pdb_file, "pdb");
  viewer.setStyle({}, {cartoon: {color: 'white'}});

  /* this is where we put in magic to color residues by
    score from the score_vector variable.

    It would be great to have this work as a color ramp
    and not by bits like this.
  */

  let colorSection = function(atom) {
    let score = score_vector[atom.resi - {{pdb_start}}];

    color = colgrad.valueToHex((score*10000))
    return new $3Dmol.Color(color);
  };
  viewer.setStyle({chain: 'A'}, {cartoon: {colorfunc: colorSection}});

  viewer.addSurface("VDW", {opacity:0.15, color:'white'},{chain:'A'});

  viewer.setHoverable({},true,function(atom,viewer,event,container) {
               if(!atom.label) {
                atom.label = viewer.addLabel(atom.resi+":"+atom.resn+":"+atom.atom,{position: atom, backgroundColor: 'mintcream', fontColor:'black'});
               }
           },
           function(atom) {
               if(atom.label) {
                viewer.removeLabel(atom.label);
                delete atom.label;
               }
            }
           );
           viewer.zoomTo();
           viewer.render();

</script>
